<section class="categories bg-light">
  <div class="container">

    <div class="row mb-5">
      <div class="col-lg-12 col-md-12 col-12 text-center">
        <h1>Popular Categories</h1>
      </div>
    </div>

    <ul class="control" id="custom-control">
      <li class="prev">
        <i class="fas fa-angle-left fa-2x"></i>
      </li>
      <li class="next">
        <i class="fas fa-angle-right fa-2x"></i>
      </li>
    </ul>
    <div class="row my-slider">
      <div class="col">
        <img src="assets/img/categories/DSC_1744.webp" class="rounded-circle" alt="">

      </div>
      <div class="col">
        <img src="assets/img/categories/DSC_1744.webp" class="rounded-circle" alt="">

      </div>
      <div class="col">
        <img src="assets/img/categories/DSC_1744.webp" class="rounded-circle" alt="">

      </div>
      <div class="col">
        <img src="assets/img/categories/DSC_1744.webp" class="rounded-circle" alt="">

      </div>
      <div class="col">
        <img src="assets/img/categories/DSC_1744.webp" class="rounded-circle" alt="">

      </div>
      <div class="col">
        <img src="assets/img/categories/DSC_1744.webp" class="rounded-circle" alt="">

      </div>
      <div class="col">
        <img src="assets/img/categories/DSC_1744.webp" class="rounded-circle" alt="">

      </div>
      <div class="col">
        <img src="assets/img/categories/DSC_1744.webp" class="rounded-circle" alt="">

      </div>

    </div>

    <div class="row g-3 my-5">
      <!-- First column -->
      <div class="col-lg-4 col-md-6 order-lg-1 order-md-1">
        <div class="card h-100">
          <div class="card-body">
            <div class="text-lg-end text-md-end text-start">
              <p>New Arrivals</p>
              <h2 class="fw-bold">Home Decoration</h2>
              <h5>Up to 60% Off</h5>
              <a href="" class="btn btn-outline-dark my-3">Shop Now</a>
            </div>
            <div class="text-center">
              <img src="assets/img/categories/tool.png" width="100%" alt="">
            </div>
          </div>
        </div>
      </div>
    
      <!-- Middle column -->
      <div class="col-lg-4 col-md-12 order-lg-2 order-md-3 d-flex flex-column justify-content-between">
        <div class="row g-3 flex-fill" id="card-middle">
          <div class="col-lg-12 col-md-6 ">
            <div class="card h-100" >
              <div class="card-body">
                <div class="text-start">
                  <p>New Arrivals</p>
                  <h2 class="fw-bold">Home Decoration</h2>
                  <h5>Up to 60% Off</h5>
                  <a href="" class="btn btn-outline-dark my-3">Shop Now</a>
                  <img src="assets/img/categories/lamp.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-6">
            <div class="card h-100">
              <div class="card-body">
                <div class="text-start">
                  <p>New Arrivals</p>
                  <h2 class="fw-bold">Home Decoration</h2>
                  <h5>Up to 60% Off</h5>
                  <a href="" class="btn btn-outline-dark my-3">Shop Now</a>
                  <img src="assets/img/categories/present.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Last column -->
      <div class="col-lg-4 col-md-6 order-lg-3 order-md-2">
        <div class="card h-100">
          <div class="card-body">
            <div class="text-start">
              <p>New Arrivals</p>
              <h2 class="fw-bold">Home Decoration</h2>
              <h5>Up to 60% Off</h5>
              <a href="" class="btn btn-outline-dark my-3">Shop Now</a>
            </div>
            <div class="text-center">
              <img src="assets/img/categories/tool.png" width="100%" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>