<app-navbar></app-navbar>
<section class="header">
    <div class="container">
        <div class="row">
            <div class="nav-scroller py-1 mb-3 ">
                <nav class="nav nav-underline justify-content-between">
                    <a class="nav-item nav-link link-body-emphasis" href="#">Home</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Jute</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Herbal</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Bedsheet</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Appreal</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Winter Deals</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Trendy Handbags</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Paintings</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Stones</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Saree</a>
                        <a class="nav-item nav-link link-body-emphasis dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          More
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>

                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gx-5 d-flex justify-content-center align-items-center p-4">
            <div class="col-lg-6">
                <img src="assets/img/header/header.svg" width="100%" alt="">
            </div>
            <div class="col-lg-6">
                <h1 class="display-2">Authentic <span id="color-blue">Handlooms &</span> Crafts of India</h1>
                <h5 class="display-7 mb-3">Discover the latest trends in fashion!</h5>
                <a href="" class="btn btn-primary px-5 py-2">Shopping Now</a>
            </div>
        </div>
    </div>
</section>

<app-features></app-features>
<app-categories></app-categories>
<app-featured-products></app-featured-products>
<app-flash-sale></app-flash-sale>
<app-explore-more></app-explore-more>
<app-new-arrivals></app-new-arrivals>
<app-suggested-products></app-suggested-products>
<app-footer></app-footer>