<section class="terms-of-service">
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-10">
                <h1>Terms of Service</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi itaque corporis sunt rem, quo,
                    consequatur delectus earum tempore quidem libero dignissimos laboriosam eveniet labore qui
                    reprehenderit ea asperiores repudiandae. Magnam! Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Eaque odio quam vitae maiores voluptatem omnis cum, laudantium doloremque modi natus voluptate
                    nam eligendi enim delectus libero. Dolore perspiciatis unde laudantium!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi itaque corporis sunt rem, quo,
                    consequatur delectus earum tempore quidem libero dignissimos laboriosam eveniet labore qui
                    reprehenderit ea asperiores repudiandae. Magnam!</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi itaque corporis sunt rem, quo,
                        consequatur delectus earum tempore quidem libero dignissimos laboriosam eveniet labore qui
                        reprehenderit ea asperiores repudiandae. Magnam! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eaque odio quam vitae maiores voluptatem omnis cum, laudantium doloremque modi natus voluptate
                        nam eligendi enim delectus libero. Dolore perspiciatis unde laudantium!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi itaque corporis sunt rem, quo,
                        consequatur delectus earum tempore quidem libero dignissimos laboriosam eveniet labore qui
                        reprehenderit ea asperiores repudiandae. Magnam!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi itaque corporis sunt rem, quo,
                            consequatur delectus earum tempore quidem libero dignissimos laboriosam eveniet labore qui
                            reprehenderit ea asperiores repudiandae. Magnam! Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Eaque odio quam vitae maiores voluptatem omnis cum, laudantium doloremque modi natus voluptate
                            nam eligendi enim delectus libero. Dolore perspiciatis unde laudantium!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi itaque corporis sunt rem, quo,
                            consequatur delectus earum tempore quidem libero dignissimos laboriosam eveniet labore qui
                            reprehenderit ea asperiores repudiandae. Magnam!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi itaque corporis sunt rem, quo,
                                consequatur delectus earum tempore quidem libero dignissimos laboriosam eveniet labore qui
                                reprehenderit ea asperiores repudiandae. Magnam! Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Eaque odio quam vitae maiores voluptatem omnis cum, laudantium doloremque modi natus voluptate
                                nam eligendi enim delectus libero. Dolore perspiciatis unde laudantium!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi itaque corporis sunt rem, quo,
                                consequatur delectus earum tempore quidem libero dignissimos laboriosam eveniet labore qui
                                reprehenderit ea asperiores repudiandae. Magnam!</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>