.navbar-section {
    background: linear-gradient(90deg, #FFDEAC 0%, #FFC368 100%);
}

#header-offer {
    background-color: black;
    color: white;
}

#header-offer p {
    margin: 0;
    padding: 10px 0;
}

#header-offer a {
    padding: 0 0 0 10px;
    color: #FFAB00;
    text-decoration: none;
}

.w-80 {
    width: 80%;
}


.form-control {
    background-color: transparent;
    border-color: #0066CB;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search-box button,
input {
    border-radius: 0px;
}

#search-box #search-btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


}
#right-menu span{
    padding: 0 10px ;
}

.btn-transparent{
    background-color: transparent;
    border-color: #0066CB;
}

@media only screen and (max-width: 600px) {
    .w-80 {
        width: 100%;
    }
  }