<section class="footer">
  <div class="container">
    <footer class="pt-5">
      <div class="container">
        <div class="row g-4 mb-5">

          <div class="col-lg-3 order-lg-1 order-3">
            <h5 class="mb-2 mb-md-4">Exclusive</h5>
            <form>
              <p>Subscribe</p>
              <p>Get 10% off your first order</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
             </div>
             <button class="btn btn-dark mt-2" type="button">Subscribe</button>
              
            </form>
          </div>
         
          <div class="col-lg-6 order-lg-2 order-1">
            <div class="row g-4">
              <!-- Link block -->
              <div class="col-6 col-md-4 col-12">
                <h5 class="mb-2 mb-md-4">Support</h5>
                <ul class="nav flex-column">
                  <li class="nav-item"><a class="nav-link" href="#">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">exclusivegmail.com</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">+88015-88888-9999</a></li>
                </ul>
              </div>

              <!-- Link block -->
              <div class="col-6 col-md-4 col-12">
                <h5 class="mb-2 mb-md-4">Account</h5>
                <ul class="nav flex-column">
                  <li class="nav-item"><a class="nav-link" href="my-account">My Account</a></li>
                  <li class="nav-item d-flex"><a class="nav-link" href="login">Login / </a><a class="nav-link" href="register">&nbsp;Register</a></li>
                  <li class="nav-item"><a class="nav-link" href="checkout/cart">Cart</a></li>
                  <li class="nav-item"><a class="nav-link" href="wishlist">Wishlist</a></li>
                  <li class="nav-item"><a class="nav-link" href="shop">Shop</a></li>
                </ul>
              </div>

              <!-- Link block -->
              <div class="col-6 col-md-4 col-12">
                <h5 class="mb-2 mb-md-4">Quick Links</h5>
                <ul class="nav flex-column">
                  <li class="nav-item"><a class="nav-link" href="privacy-policy">Privacy Policy</a></li>
                  <li class="nav-item"><a class="nav-link" href="terms-of-service">Terms Of Service</a></li>
                  <li class="nav-item"><a class="nav-link" href="shipping-policy">Shipping Policy</a></li>
                  <li class="nav-item"><a class="nav-link" href="refund-returns">Refund and Returns Policy</a></li>
                  <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        
          <div class="col-lg-3 order-lg-3 order-3">
            <h5 class="mb-2 mb-md-4">Download App</h5>

            <p class="mb-2">Save $3 with App New User Only </p>

            <img src="assets/img/footer/app-scanner.png" width="100%" alt="">
          </div>

        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-center py-4 border-top">
          <p>© {{currentYear}} {{companyName}}, Inc. All rights reserved.</p>
        
        </div>
      </div>
    </footer>
  </div>
</section>